html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
.nav{
    display: block !important;
}
.nav-item{
    padding: 0 30px;
}
.navbar{
    background: rgba(0,0,0,0.4);;
}
.navbar-brand{
    font-weight: 500;
}
.box{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}